<% content_for :title do %>Accueil<% end %>


<!-- Button return On Top -->
<div id="returnOnTop">
  <img alt="bouton retour en haut" src="img/backtop.png">
</div>

<div class="container">
  <div class="flash">
    <% if notice %>
    <%= notice %>
    <% if alert %>
    <%= alert %>
    <% end %>
    <%end%>
  </div>
  <!-- section ABOUT ME -->
  <div class="row">
    <div class="col m5 card">
      <div class="section">
        <h4 class="left-align">About me</h4>
        <p>Hello World ! Je suis Naïma et j'ai 25 ans. Je peux dire que je suis une développeuse Web en herbe. En herbe ? Oui, car je suis constamment en apprentissage ; j'en apprend TOUS les jours et puis j'ai soif de savoir et j'aime cela. En effet il y a
          encore tellement de choses à voir, découvrir et apprendre dans ce monde numérique qui est en constante évolution.
          <br>
          L'informatique est un domaine qui me passionne vraiment, c'est pour cela que je me suis orientée vers cette voie.
          <br>J'ai fait mes débuts dans le système et réseau (virtualisation de serveurs physiques, mises à niveau d'OS, plan d'adressage IP, configuration et paramètrage de PC, Cisco etc)</p>
      </div>
    </div>
    <!-- /section ABOUT ME -->

    <!-- section HOBBIES -->
    <div class="col m6 offset-m1 card">
      <div class="section">
        <h4 class="left-align">Hobbies</h4>
        <div class="row">
          <!-- first ROw HOBBIES -->
          <div class="col m3">
            <a class="cercle hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons red">shopping_basket</i>
              <p>Shopping</p>
            </a>
          </div>
          <div class="col m3 offset-m1">
            <a class="cercle hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons red">games</i>
              <p>Games</p>
            </a>
          </div>
          <div class="col m3 offset-m1">
            <a class="hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons red">theaters</i>
              <p>Cinéma</p>
            </a>
          </div>
        </div>
        <!-- ./first row HOBBIES -->
        <br>
        <!-- second row HOBBIES -->
        <div class="row">
          <div class="col m3">
            <a class="hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons orange">queue_music</i>
              <p>Musique</p>
            </a>
          </div>
          <div class="col m3 offset-m1">
            <a class="hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons orange">code</i>
              <p>Code</p>
            </a>
          </div>
          <div class="col m3 offset-m1">
            <a class="hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons orange">language</i>
              <p>Langues</p>
            </a>
          </div>
        </div>
        <!-- ./second row HOBBIES -->
        <br>
        <!-- third row HOBBIES -->
        <div class="row">
          <div class="col m3">
            <a class="hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons green">group_work</i>
              <p>Sport</p>
            </a>
          </div>
          <div class="col m3 offset-m1">
            <a class="hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons green">code</i>
              <p>Voyager</p>
            </a>
          </div>
          <div class="col m3 offset-m1">
            <a class="hobbies-circle waves-effect waves-circle waves-light btn-floating secondary-content" href="#!">
              <i class="material-icons green">library_books</i>
              <p>Lecture</p>
            </a>
          </div>
        </div>
      </div>
      <!-- /section HOBBIES -->
    </div>
  </div>

  <!-- HR -->
  <div class="divider"></div>

  <!-- section SKILLS -->
  <h4 class="left-align" id="sectionskills">Skills</h4>

  <div class="row">
    <div class="col m4">
      <div class="progress-pie-chart" data-percent="72">
        <div class="ppc-progress">
          <div class="ppc-progress-fill"></div>
        </div>
        <div class="ppc-percents">
          <div class="pcc-percents-wrapper">
            <span>%</span>
          </div>
        </div>
      </div>
      <h5 class="center-align">Ruby on Rails</h5>
      <p class="center-align">
        Ruby on Rails, également appelé RoR ou Rails, est un framework web libre écrit en Ruby. Il suit le motif de conception modèle-vue-contrôleur aussi nommé MVC. En tant que framework, il propose une structure au programmeur qui lui permet de développer
        plus vite et plus intuitivement.
      </p>
    </div>
    <div class="col m4">
      <div class="progress-pie-chart2" data-percent="75">
        <div class="ppc-progress2">
          <div class="ppc-progress-fill2"></div>
        </div>
        <div class="ppc-percents2">
          <div class="pcc-percents-wrapper2">
            <span class="deux">%</span>
          </div>
        </div>
      </div>
      <h5 class="center-align">HTML5/CSS3</h5>
      <p class="center-align">
        Utilisé à chaque conception de sites.
      </p>
    </div>
    <div class="col m4">
      <div class="progress-pie-chart3" data-percent="65">
        <div class="ppc-progress3">
          <div class="ppc-progress-fill3"></div>
        </div>
        <div class="ppc-percents3">
          <div class="pcc-percents-wrapper3">
            <span class="trois">%</span>
          </div>
        </div>
      </div>
      <h5 class="center-align">Javascript, jQuery</h5>
      <p class="center-align">
        - JavaScript est un langage de programmation de scripts principalement employé dans les pages web intéractives.
        <br>
        - Manipulation du DOM
        <br>
        - intégration de plug-in jQuery divers...
      </p>
    </div>
  </div>
  <!-- ./first row skills -->
  <!-- second row skills -->
  <div class="row">
    <div class="col m4">
      <div class="progress-pie-chart7" data-percent="56">
        <div class="ppc-progress7">
          <div class="ppc-progress-fill7"></div>
        </div>
        <div class="ppc-percents7">
          <div class="pcc-percents-wrapper7">
            <span class="sept">%</span>
          </div>
        </div>
      </div>
      <h5 class="center-align">Base de données</h5>
      <p class="center-align">
        SQL (MySQL, Postgresql), NOSQL (MongoDB), interfaces graphiques
      </p>
    </div>
    <div class="col m4">
      <div class="progress-pie-chart6" data-percent="85">
        <div class="ppc-progress6">
          <div class="ppc-progress-fill6"></div>
        </div>
        <div class="ppc-percents6">
          <div class="pcc-percents-wrapper6">
            <span class="six">%</span>
          </div>
        </div>
      </div>
      <h5 class="center-align">Serveur</h5>
      <p class="center-align">
        Nginx, Heroku, Apache...
      </p>
    </div>
    <div class="col m4">
      <div class="progress-pie-chart5" data-percent="82">
        <div class="ppc-progress5">
          <div class="ppc-progress-fill5"></div>
        </div>
        <div class="ppc-percents5">
          <div class="pcc-percents-wrapper5">
            <span class="cinq">%</span>
          </div>
        </div>
      </div>
      <h5 class="center-align">Git</h5>
      <p class="center-align">
        Outils de versionning. Chaque projet part de Github, ça 'add files', ça 'commit', et ça 'push', ça 'merge' aussi... :D
      </p>
    </div>
  </div>
  <!-- ./second row skills -->

  <!-- section NEWSLETTER -->
  <div class="row">
    <div class="col m12 card">
      <div class="section">
        <h4 class="left-align">Newsletter</h4>
        <h5 class="left-align">Sign up in my newsletter</h5>
        <div id="notif"></div>
        <%=form_for :message, remote: true do |f| %>
        <%= f.text_field :name, placeholder: "Name" %>
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.submit %>
        <% end %>

      </div>
    </div>
    <!-- /section NEWSLETTER -->

  </div>
</div>
