<% content_for :title do %>Projet<% end %>

<!-- Button return On Top -->
<div id="returnOnTop">
  <img alt="bouton retour en haut" src="img/backtop.png">
</div>

<div class="container">

  <h2>My projects (<%= @projects.count %>)</h2>
  <!-- First Row SLIDE -->
  <div class="row">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="../img/Prunierhome.png">
          <!-- random image -->
          <div class="caption center-align">
            <h3 class="black-text text-darken-3">PRUNIER</h3>
            <h5 class="black-text text-darken-3">Textile</h5>
          </div>
        </li>
        <li>
          <img src="../img/Prunierproduit.png">
          <!-- random image -->
          <div class="caption left-align">
            <h3 class="black-text text-darken-3">PRUNIER</h3>
            <h5 class="black-text text-darken-3">Fiche produit</h5>
          </div>
        </li>
        <li>
          <img src="../img/sportfolio.png">
          <!-- random image -->
          <div class="caption right-align">
            <h3 class="black-text text-darken-3">Sportfolio</h3>
            <h5 class="black-text text-darken-3">Portfolio Sport</h5>
          </div>
        </li>
        <li>
          <img src="../img/applirandom.png">
          <!-- random image -->
          <div class="caption center-align">
            <h3 class="orange-text text-darken-2">Application Random</h3>
            <h5 class="orange-text text-darken-2">Aléatoire</h5>
          </div>
        </li>
        <li>
          <img src="../img/Prunierproduit2.png">
          <!-- random image -->
        </li>
        <li>
          <img src="../img/sheetcheatcss.png">
          <!-- random image -->
          <div class="caption center-align">
            <h3 class="black-text text-darken-3">Cheat Sheet</h3>
          </div>
        </li>
        <li>
          <img src="../img/kidco3.png">
          <!-- random image -->
          <div class="caption center-align">
            <h3 class="black-text text-darken-3">KIDCO</h3>
            <h5 class="black-text text-darken-3">Site en construction</h5>
          </div>
        </li>
        <li>
          <img src="../img/kidco2.png">
          <!-- random image -->
        </li>
        <li>
          <img src="../img/railsapplirandom.png">
          <!-- random image -->
        </li>
        <li>
          <img src="../img/cheetsheat3.png">
          <!-- random image -->
        </li>
        <li>
          <img src="../img/crergroupe.png">
          <!-- random image -->
        </li>
      </ul>
    </div>
  </div>
  <!-- ./END First Row SLIDE -->

  <!-- Second Row SLIDE -->
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img alt="<%= project.title %>" class="activator" src="<%= project.picture %>"/>
          <!-- <%= image_tag(project.picture_url(:thumb), size: "100x100") %> -->
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4" style="color:#F0514D; text-decoration: underline; font-family:bold;"><%= truncate(project.title, length: 17) %>
            <i class="material-icons right">info</i>
          </span>
          <p>
            <div class="button_wrapper center-align">
              <a class="waves-effect waves-light btn-large" href="<%= project.link %>" target="_blank">Site officiel</a>
            </div>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title text-darken-4" style="color:#F0514D; text-decoration: underline; font-family:bold;"><%= project.title %>
            <i class="material-icons right">close</i>
          </span>
          <p><%= truncate(project.description, length: 500) %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Second Row SLIDE -->
  <br>
  <br>

</div>
