<p id="notice"><%= notice %></p>
<div class="container">

  <h2>My projects</h2>

  <div class="row">
    <% @projects.each do |project| %>
    <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="<%= project.picture %>" alt="<%= project.title %>">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%=project.title %>
          <i class="material-icons right">Clique pour voir la description</i>
        </span>
        <p>
          <div class="button_wrapper">
            <a class="waves-effect waves-light btn-large" href="<%= project.link %>" target="_blank">Site officiel
              <%= project.title %></a>
          </div>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%=project.title %>
          <i class="material-icons right">close</i>
        </span>
        <p><%= project.description %></p>
      </div>
      <!-- <%= link_to 'Show', project %> -->
      <!-- <%= link_to 'Edit', edit_project_path(project) %> -->
      <!-- <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    </div>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Project', new_project_path %>

  <br>

</div>
